/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 16, 2014, 1:54:16 PM
    Author     : h11tobbu
*/

@media screen{
    
    body,html{
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
    }
    nav{
        width: 100%;
        height: 35px;
        background: #DFECEE;
        font-family: monospace;
        text-align: center;
    }
    nav a{
        margin-top: 10px;
    }
    a{
        text-decoration: none;
    }
    h1{
        background: #C5D2D5;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #content{
        width: 90%;
        height: 100%;
    }
    table{
        padding-top: 20px;
        width: auto;
        height: auto;
        margin: auto;
    }
    td{
        padding: 5px;
        border-bottom: 1px solid black;
        border-left: 1px dotted black;
        border-right: 1px dotted black;
    }
    footer{
        width: 100%;
        height: 25px;
        position: absolute;
        position:fixed;
        bottom: 0;
        text-align: center;
        background: #DFECEE;
    }
    
    
    /* hoovers and button effects */
    tr:hover{
        background: #DFECEE;
    }
    a:hover{
        color: red;
    }
    
}